/*=============================================
TOP
=============================================*/

#top ul{
	padding-top:8px;
	

}

#top ul li{
	display:inline;
	line-height:30px;
	margin:0px 5px;
	color:white;
}

.social ul li a i{
	font-size:18px;
	margin:0 1px;
}

.registro ul{
	text-align: center;
	font-size:12px;

	
}
.registro ul li a:hover{
	background-color: #706b6b;
	cursor: pointer;

	border-radius: 10px;
	border: 1px solid #ffffff;

	
}



/*=============================================
HEADER
=============================================*/
header{
	position: relative;
	z-index: 100;

}
header #btnCategorias{
	margin:20px 0;
	border-radius: 15px;

	
}
#categorias{
	border: 1px dashed black;
	border-radius: 15px;
}
header #btnCategorias p{
	line-height:40px;
	margin-bottom:0px;
	
}

header #btnCategorias p span{
	cursor: pointer;
	
}

header #buscador{
	margin:20px 0;
	padding-left: 10px;
	padding-right: 10px;

}

header #buscador input{
	padding:19px;
	border-radius:0;
	border-radius: 15px;
	padding-left: 20px;
}

header #buscador button{
	padding:9px;
	border:1px solid silver;
	border-radius:0;
	border-radius: 15px;

}
header #buscador .backColor{
	margin-left: 15px;
}
header #buscador span a:hover{
	background-color: rgb(78, 72, 84);
}

header #carrito{
	margin:20px 0;
	float: right;
}

header #carrito button{
	padding:9px 15px;
	border:1px solid silver;
	border-radius:10px;
	

}

header #carrito p{
	padding:2px;
	padding-left:60px;
	border:1px dashed #aaa ;
	font-size:12px;
	border-radius:10px;
	background-color: #1b161c;

}
/* desabilitamos el display none para que no se muestre las categorias */
header #categorias{
	display:none;
	margin-top:-10px;
	position: relative;
	padding-bottom:20px;
}

header #categorias h4{
	margin-top:20px;
	margin-bottom:-10px;
}

header #categorias hr{
	border:1px solid rgba(255,255,255,.3);
}
/* regiatro */
.modalTitulo{
	padding: 5px 0px;
	color: #000000;
}
.modalTitulo h3{
	text-align: center;
	margin-top: -5px;
	padding: 15px 0px;
	border-radius: 5px 5px 0px 0px;

}


.modalFormulario .close{
	position: absolute;
	right: 27px;
	top: 8px;
	color: #000000;
	font-size: 35px;
}
.modalFormulario .facebook, .modalFormulario .google{
	cursor: pointer;

}

.modalFormulario .facebook p{
	background-color: #46639f;
	color: #fff;
	text-align: center;
	line-height: 40px;
	padding: 8px;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
	border-radius: 15px;

}

.modalFormulario .google p{
	background-color: #d6513e;
	color: #fff;
	text-align: center;
	line-height: 40px;
	padding: 8px;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
	border-radius: 15px;
}
.modalFormulario p i{
	margin-left: 10px;
}
.mosalesbody{
	background-color: #222;
}
.politicas li p{
	color: #fff;
	top: -10px;
	padding-right: 35px;
	margin-right: 35px;
}
.modalFormulario form hr{
	border: 1px solid #eee;
}
.modalFormulario form input[type="text"],
.modalFormulario form input[type="email"],
.modalFormulario form input[type="password"]{
	padding: 25px;
}
.modalFormulario form input[type="submite"]{
	padding: 15px;
}
/*=============================================
ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
=============================================*/

@media (min-width:1200px){

	/*=============================================
	HEADER
	=============================================*/

	header #logotipo img{
		padding:10px 10px 5px 5px;
		padding-left:5px;
		border: 1px solid #ffffff;
		border-radius: 15px;
		margin-top: 8px;
		margin-bottom: 5px;

	}

	

	header #carrito{
		padding-left:50px;
	}
	.modalFormulario .facebook p{
		margin-right: -15px;
	}

}

/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/

@media (max-width:1199px) and (min-width:992px){

	/*=============================================
	HEADER
	=============================================*/
	#btnCategorias {
		font-size: 12px;
		right: 4px;
		left: 5px;
	}
	header #logotipo img{

		padding:10px 15px 5px 5px;
		padding-left:25px;
		border: 1px solid #ffffff;
		border-radius: 15px;
		margin-top: 15px;
		margin-bottom: 5px;
	
		
	}

	header #carrito{
		padding-left:50px;
	}
	.modalFormulario .facebook p{
		margin-right: -15px;
	}
}

/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/

@media (max-width:991px) and (min-width:768px){

	/*=============================================
	HEADER
	=============================================*/

	header #logotipo img{
		padding:30px 0px;
		border: 1px solid #ffffff;
		padding-top: 5px;
		padding-bottom:10px;
		border-radius: 15px;
		margin-left: 15px;
		margin-right: 15px;
		margin-top: 20px;
		margin-bottom: 15px;
		padding-right: 5px;
		padding-left: 5px;
	}

	header #carrito{
		padding-left:50px;
	}

	header #carrito p{
		display:none;
	}
	.modalFormulario .facebook p{
		margin-right: -15px;
	}
}

/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/

@media (max-width:767px){

	/*=============================================
	TOP
	=============================================*/

	#top ul{
		text-align: center;
	}

	#top #registro{
		border-top:1px solid #222;
	}
	#top #registro ul li a:hover{
		background-color: rgb(62, 68, 68);
	}
	/*=============================================
	HEADER
	=============================================*/

	header #logotipo img{
		padding:30px;
		padding-bottom:10px;
		padding-top: 5px;
		border: 1px solid #ffffff;
		border-radius: 15px;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	header #categorias{
		margin-bottom:10px;
	}

	header #buscador{
		margin-bottom:10px;
	}

	header #carrito{
		margin:0px;
	}
	
}


