.infoproducto figure.visor img {
    display: none;
    cursor: pointer;
}

.infoproducto figure.visor img:first-child {
    display: block;
}

.panel,
panel-body,
panel-default {
    background-color: #0d1117;
}