/*=============================================
INFOPRODUCTO
=============================================*/

.infoproducto figure.visor img{
	display:none;
	cursor:crosshair;

}

.infoproducto figure.visor img:first-child{
	display:block;
}

.flexslider{
	cursor: pointer;
}

.lupa{
	display:none;
	position:absolute;
	top:0;
	left:0;
    overflow:hidden;
   /*  width: 80%; */
}

.lupa img{
	position:relative;
	margin-top:-100%;
	margin-left:-50%;
	width:160%;
}

.compartirRedes{
    padding-left: 80px;
    padding-right: 20px;
    top: 55px;
   
   
    background-color: rgb(55, 53, 53);
	border:0px;
	box-shadow:none;
    margin:0px;
    z-index: -1;
}

.compartirRedes li p{
    color:white;
	text-align: center;
	line-height: 30px;
	padding:8px;
	font-size:35px;
	margin-top:10px;
	margin-bottom:20px;
	cursor:pointer;
    border-radius: 10px;
}

.btnFacebook{
    background:#46639f;
    
}

.btnGoogle{
	background:#d6513e;
}
.videoPresentacion{
	top: 15px;
	padding: 15px;
	
}
/* .precio{
	height: 70px ;
	width: 50%;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-right: 0px;
} */



/*=============================================
ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
=============================================*/

@media (min-width:1200px){

	.videoPresentacion{
		
		height:415px;
	}
	.centrado{
		display: block;
		text-align: center;
		margin-left: 40%;
		
	}

}
.grid0 li{
	
	height: 450px;
	padding: 15px;
	/* border: 5px dashed #fff; */
}
/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/

@media (max-width:1199px) and (min-width:992px){
	
	.videoPresentacion{
	
		height:350px;
	}
	.centrado{
		display: block;
		text-align: center;
		margin-left: 40%;
		
	}
	.grid0 li{
		width: 50%;
		height: 600px;
		padding: 15px;
	
		
	}
	.pull-right{
		padding-right: 40px;
	}
}

/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/

@media (max-width:991px) and (min-width:768px){
	
	.videoPresentacion{
	
		height:300px;
	}
	.centrado{
		display: block;
		text-align: center;
		margin-left: 40%;
		
	}
	.grid0 li{
		width: 50%;
		height: 600px;
		padding: 15px;
	
		border: 5px dashed #fff;
	}
	.pull-right{
		padding-right: 40px;
	}

}

/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/

@media (max-width:767px){

	.videoPresentacion{
	
		height:200px;
	}

	.fondoBreadcrumb{
		font-size:12px;
	}

	.botonesCompra button{
		margin:5px 0;
	}
	.centrado{
		display: block;
		text-align: center;
		margin-left: 5%;
		
	}
	.grid0 li{
		
		padding-top: 150px;
		height: 500px;
		
	}
}

	