#perfil figure#imgPerfil img {
    width: 80%;
    margin: 10px 0;
}

.container .nav li a i {
    color: black;
}

.registroSocial label {
    color: black;
}

.input-group-addon i {
    color: black;
}

#eliminarUsuario {
    display: none;
}

#perfil #subirImagen {
    display: none;
    margin: 20px 0px;
    /*     border: 2px dotted #ccc; */
    overflow: hidden;
    padding: 40px;
    cursor: pointer;
}

#perfil #subirImagen img {
    width: 100%;
    padding: 10px;
}

#perfil #subirImagen #datosImagen {
    height: 65px;
}

.panel,
panel-body,
panel-default {
    background-color: #0d1117;
    border: none;
}

.modalFormulario {
    padding: 5px;
    margin: 5px;
}

.modalFormulario .modal-dialog .modalTitulo form {
    padding: 5px;
    margin: 5px;
    color: black;
}

.modalFormulario .modal-dialog .modalTitulo form div label {
    color: black;
}

.modalFormulario .modal-dialog .modalTitulo form div label span small {
    color: black;
}